@model SiberianSales2.Models.Reseller

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reseller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResellerName" class="control-label"></label>
                <input asp-for="ResellerName" class="form-control" />
                <span asp-validation-for="ResellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResellerFantasyName" class="control-label"></label>
                <input asp-for="ResellerFantasyName" class="form-control" />
                <span asp-validation-for="ResellerFantasyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResellerCnpj" class="control-label"></label>
                <input asp-for="ResellerCnpj" class="form-control" />
                <span asp-validation-for="ResellerCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateInscription" class="control-label"></label>
                <input asp-for="StateInscription" class="form-control" />
                <span asp-validation-for="StateInscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="StateInscriptionExemption" /> @Html.DisplayNameFor(model => model.StateInscriptionExemption)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalInscription" class="control-label"></label>
                <input asp-for="MunicipalInscription" class="form-control" />
                <span asp-validation-for="MunicipalInscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxComissionRetention" class="control-label"></label>
                <input asp-for="TxComissionRetention" class="form-control" />
                <span asp-validation-for="TxComissionRetention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
