@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Criador @ViewData["criador"]</p>
<p>Sobre @ViewData["sobre"]</p>

<address>
    <strong> Mais informações: </strong> <a href="http://www.siberiantech.com.br"> Siberian Tech Soluções em Informática Ltda.</a>
</address>