@model SiberianSales2.Models.ProposalItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProposalItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SalesProposalId" class="control-label"></label>
                <select asp-for="SalesProposalId" class="form-control" asp-items="ViewBag.SalesProposalId"></select>
                <span asp-validation-for="SalesProposalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposalItemQtd" class="control-label"></label>
                <input asp-for="ProposalItemQtd" class="form-control" />
                <span asp-validation-for="ProposalItemQtd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposalItemUnitCost" class="control-label"></label>
                <input asp-for="ProposalItemUnitCost" class="form-control" />
                <span asp-validation-for="ProposalItemUnitCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposalItemUnitValue" class="control-label"></label>
                <input asp-for="ProposalItemUnitValue" class="form-control" />
                <span asp-validation-for="ProposalItemUnitValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
